<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Comment</title>
  </head>
  <body>
    <h1>Add comment</h1>
    <form action="./" method="post">
      <input type="text" name="comment[comment_content]" value="">
      <input type="submit" value="Add Comment">
    </form>
  </body>
</html>
