<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
  </head>
  <body>
    <h1>New Post</h1>
    <form id="new-post" action="/posts" method="POST">
      <label for="post[title]">Title:</label><br>
      <input type="text" name="post[title]"><br>
      <label for="post[post_content]">Post:</label><br>
      <textarea form="new-post" name="post[post_content]" rows="8" cols="50"></textarea>
      <input type="submit" value="Add Post">
    </form>
  </body>
</html>
