h1 {
  margin: 25px;
}

button {
  margin: 0 25px;
}

.main-body {
  margin-top: 20px;
}

.row {
  padding: 20px 0;
  transition: 1s;
  border-bottom: 1px solid;
}

.clickable:hover {
  cursor: pointer;
  color: red;
  background-color: grey;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  padding: 20px;
}

footer {
  text-align: center;
  margin: 50px 0;
}

@media (max-width: 620px) {

}
