@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
}

body {
   background: no-repeat center center fixed url('https://static.pexels.com/photos/325185/pexels-photo-325185.jpeg');
   background-size: cover;
}

.main {
  margin: 80px auto;
  width: 80%;
  text-align: center;
}

.main input {
  font-family: 'Raleway', sans-serif !important;
  padding: 10px;
  margin: 10px 0 0 0;
  width: 300px;
  background-color: #CFDDE9;
  border: 1px black solid;
  color: black;
  opacity: .8;
}

.main input:focus {
  outline: none;
}

.btn {
  color: white !important;
}

.submit {
  text-align: center;
  width: 322px !important;
  color: white;
}

.user-input {
  text-align: center;
}

.main-title {
  font-size: 30px;
}
