* {
  font-family: Arial, sans-serif;
}

body {
  background-color: #EDEEF0;
}

header {
  text-align: center;
  color: #49494A;
}

header h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

main {
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

main .new-button {
  text-decoration: none;
  display: block;
  margin: 30px 0 20px 0;
  padding: 7px 10px;
  width: 110px;
  text-align: center;
  background-color: #C5C5C5;
  color: #F1F1F1;
  transition: 1s;
}

.new-button:hover {
  background-color: #A51111;
}

.line {
  margin: 0 auto;
  width: 95%;
  border-bottom: 8px solid #DEDEDE;
}

.posts {
  margin: 0 auto;
  width: 95%;
}

table {
  padding: 0;
  margin: 0 auto;
  border-collapse: collapse;
  color: #7F7F7F;
}

table th {
  color: #49494A;
}

.table-title {
  padding: 0 400px 0 30px !important;
}

.post-title {
  padding: 0 400px 0 30px !important;
}

.table-row td {
  padding: 20px 30px 20px 30px;
  border-top: 2px solid #DEDEDE;
  border-bottom: 2px solid #DEDEDE;
}

.clickable {
  cursor: pointer;
  transition: 0.5s;
}

.clickable:hover {
  background-color: #E5E5E5;
  color: #A51111;
}

footer {
  text-align: center;
  padding: 30px;
  margin: 60px 0 0 0;
  color: #49494A;
}
