h1 {
  margin: 20px;
}

main {
  margin-left: 25px;
}

.btn {
  margin-top: 10px;
}

.comment-area {
  margin: 20px 25px;
}

.comment {
  border-bottom: 1px solid;
}

.comment-input {
  margin: 20px 25px;
}

.welcome {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  padding: 20px;
}

.login {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  padding: 20px;
}

.logout {
  position: absolute;
  top: 15px;
  right: 0px;
  margin: 15px 10px 0 0;
  padding: 20px;
}
