* {
  font-family: Arial, sans-serif;
   color: #7F7F7F;
}

a {
  color: #49494A;
}

body {
  background-color: #EDEEF0;
}

header {
  text-align: center;
  color: #49494A !important;
}

header h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #49494A;
  transition: 1s;
}

header a:hover {
  color: #A51111;
}

.lg-line {
  margin: 0 auto;
  width: 95%;
  border-bottom: 8px solid #DEDEDE;
}

.sm-line {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px dashed #DEDEDE;
}

main {
  margin: 20px 0 20px 20px;
  width: 95%;
}

main h2 {
  color: #49494A;
}

.like-button {
  text-decoration: none;
  display: block;
  border: none;
  margin: 30px 0 20px 0;
  padding: 7px 10px;
  width: 110px;
  text-align: center;
  background-color: #C5C5C5;
  color: #F1F1F1;
}

.like-button:hover {
  background-color: #A51111;
}

.comment-area {
  margin: 20px 0 20px 20px;
  width: 95%;
}

.comment-input {
  margin: 30px 0 0 0;
}

.comment-button {
  text-decoration: none;
  display: block;
  border: none;
  margin: 10px 0 20px 0;
  padding: 7px 10px;
  width: 150px;
  text-align: center;
  background-color: #C5C5C5;
  color: #F1F1F1;
}

.comment-button:hover {
  background-color: #A51111;
}
